name: Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/hybridgroup/opencv:4.10.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        run: go test -v -coverprofile=/tmp/coverage.out -count=1 ./...
      - name: Check code coverage
        run: |
          go tool cover -html=/tmp/coverage.out -o /tmp/coverage.html
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: /tmp/*.html
